.container {
  display: flex;
  padding: 20px
}

#table-container {
  padding: 20px
}

#btn-box {
  text-align: center;
}

#description {
  height: 500px;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  margin: auto
}

#map {
  height: 500px;
  width: 50%;
  border-radius: 20px;
  margin-left: 20px;
}

div#tabs {
  border-radius: 20px;
  padding: 0;
}

a {
  cursor: pointer;
}

a#baiyue-btn {
  background: #0066a2;
  color: white;
  font-size: 1.25em;
}

a#xiaobaiyue-btn {
  background: #728224;
  color: white;
  font-size: 1.25em;
}

.vegas-content-scrollable {
  display: flex
}

.vegas-content {
  margin: auto
}

* {
  box-sizing: border-box;
}

/* latin-ext */
@font-face {
  font-family: 'text';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/zillaslab/v6/dFa5ZfeM_74wlPZtksIFYpEY6H2pW2hz.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'text';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/zillaslab/v6/dFa5ZfeM_74wlPZtksIFYpEY6HOpWw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* chinese */
@font-face {
  font-family: 'text';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(chinese.woff2);
  unicode-range: U+3000-30FF, U+FF00-FFEF, U+4E00-9FAF;
}

body, .ui-widget {
  font-family: text; !important
}

.vegas-slide {
  opacity: 0.3;
}

h1 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

#tab-xiaobaiyue, #tab-baiyue {
  padding: 15px 0;
}

th {
  text-align: left;
}

td {
  font-size: 1.5em;
}

td.header {
  font-size: 1.75em;
  font-weight: bold;
}

td.center, th.center {
  text-align: center;
}

td#location,
p.small {
  font-size: 1.25em;
}

table.dataTable td.link {
  cursor: pointer;
}

table.dataTable.no-footer {
  border: none;
}

input[type='checkbox'] {
  width: 1.5em;
  height: 1.5em;
}

.leaflet-popup-content a {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
}

.leaflet-container a.leaflet-popup-close-button {
  font-size: 1.5em;
  margin: 5px;
}

.leaflet-container a.marker {
  font-size: 1.1rem;
}

.leaflet-popup-content {
  text-align: center;
}

.leaflet-right.leaflet-top {
  height: 36px;
  background-color: #3298dc;
}

.leaflet-left.leaflet-bottom {
  background-color: #3298dc;
  color: white;
  font-size: 1.5em;
  padding: 0 10px;
}

.presets {
  border: 0;
  background-color: #3298dc;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  pointer-events: auto;
  height: 36px;
}

select.presets {
  height: 32px;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: block;
    padding: 5px
  }
  
  #table-container {
    padding: 5px
  }

  #description {
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: auto
  }

  #map {
    width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px
  }
  
  div#tabs {
    border-radius: 10px;
  }
}
